<template>
    <ai-dialog>
        <ai-dialog-body>
            <ul><h2>${action} Truck Load: ${truckLoad.idtruckloads}</h2>
                <li if.bind="action=='Add'">
                    <label for="idtruckloads">TruckLoad ID</label>
                    <input type="text" name="idtruckloads" id="idtruckloads" value.bind="truckLoad.idtruckloads"></li>          </li>
                <li>
                    <label for="driver">Driver </label>
                    <input type="text" name="driver" id="driver" value.bind=truckLoad.driver></li>
                <li>
                    <label for="destination">Destination</label>
                    <input type="text" name="destination" id="destination" value.bind=truckLoad.destination></li>
                <li>
                    <label for="eta">ETA</label>
                    <input type="datetime"  name="eta" id="eta" value.bind="truckLoad.eta"></li>
            </ul>
        </ai-dialog-body>

        <ai-dialog-footer>
            <button click.trigger = "controller.cancel()">Cancel</button>
            <button click.trigger = "controller.ok(truckLoad)">${action}</button>
        </ai-dialog-footer>

    </ai-dialog>

</template>