<template>
  <require from="ag-grid/dist/styles/ag-grid.css"></require>
  <require from="ag-grid/dist/styles/theme-fresh.css"></require>
  <h2>Truck Load Management Demo</h2>
  <div style="width: 100%; height: 350px;">
    <button click.delegate="addEntry()">Add</button>
    <button click.delegate="deleteEntry()">Delete</button>
    <button click.delegate="editEntry()">Edit</button>
    <ag-grid-aurelia grid-options.bind="gridOptions" class="ag-fresh"
                     row-height.bind="48"
                     grid-ready.call="onGridReady()"
                     column-defs.bind="columnDefs"
                     row-data.bind="gridOptions.rowData"
                     row-selection="single"
                     row-clicked.call="onRowClicked($event.node.data)"
    >

    </ag-grid-aurelia>
  </div>

</template>
